{
    "openapi":  "3.0.1",
    "info":  {
                 "title":  "REST API",
                 "contact":  {
                                 "name":  "Dev",
                                 "email":  "devcontact@gmail.com"
                             },
                 "version":  "1.1"
             },
    "servers":  [
                    {
                        "url":  "https://testing-api.naf-cloudsystem.de",
                        "description":  "Generated server url"
                    }
                ],
    "security":  [
                     {
                         "bearerToken":  [

                                         ]
                     }
                 ],
    "tags":  [
                 {
                     "name":  "franchise-controller",
                     "description":  "API for managing franchises within a multi-tenant environment."
                 }
             ],
    "paths":  {
                  "/api/vending-machines/{id}/update":  {
                                                            "put":  {
                                                                        "tags":  [
                                                                                     "vending-machine-controller"
                                                                                 ],
                                                                        "operationId":  "updateVendingMachineDetails",
                                                                        "parameters":  [
                                                                                           {
                                                                                               "name":  "id",
                                                                                               "in":  "path",
                                                                                               "required":  true,
                                                                                               "schema":  {
                                                                                                              "type":  "integer",
                                                                                                              "format":  "int64"
                                                                                                          }
                                                                                           },
                                                                                           {
                                                                                               "name":  "json",
                                                                                               "in":  "query",
                                                                                               "required":  true,
                                                                                               "schema":  {
                                                                                                              "type":  "string"
                                                                                                          }
                                                                                           }
                                                                                       ],
                                                                        "requestBody":  {
                                                                                            "content":  {
                                                                                                            "multipart/form-data":  {
                                                                                                                                        "schema":  {
                                                                                                                                                       "type":  "object",
                                                                                                                                                       "properties":  {
                                                                                                                                                                          "file":  {
                                                                                                                                                                                       "type":  "string",
                                                                                                                                                                                       "format":  "binary"
                                                                                                                                                                                   }
                                                                                                                                                                      }
                                                                                                                                                   }
                                                                                                                                    }
                                                                                                        }
                                                                                        },
                                                                        "responses":  {
                                                                                          "200":  {
                                                                                                      "description":  "OK",
                                                                                                      "content":  {
                                                                                                                      "*/*":  {
                                                                                                                                  "schema":  {
                                                                                                                                                 "type":  "object",
                                                                                                                                                 "additionalProperties":  {
                                                                                                                                                                              "type":  "string"
                                                                                                                                                                          }
                                                                                                                                             }
                                                                                                                              }
                                                                                                                  }
                                                                                                  }
                                                                                      }
                                                                    }
                                                        },
                  "/api/vending-machines/{id}/heating-price":  {
                                                                   "get":  {
                                                                               "tags":  [
                                                                                            "vending-machine-controller"
                                                                                        ],
                                                                               "operationId":  "getVendingMachineHeatingPrice",
                                                                               "parameters":  [
                                                                                                  {
                                                                                                      "name":  "id",
                                                                                                      "in":  "path",
                                                                                                      "required":  true,
                                                                                                      "schema":  {
                                                                                                                     "type":  "integer",
                                                                                                                     "format":  "int64"
                                                                                                                 }
                                                                                                  }
                                                                                              ],
                                                                               "responses":  {
                                                                                                 "200":  {
                                                                                                             "description":  "OK",
                                                                                                             "content":  {
                                                                                                                             "*/*":  {
                                                                                                                                         "schema":  {
                                                                                                                                                        "type":  "object",
                                                                                                                                                        "additionalProperties":  {
                                                                                                                                                                                     "type":  "string"
                                                                                                                                                                                 }
                                                                                                                                                    }
                                                                                                                                     }
                                                                                                                         }
                                                                                                         }
                                                                                             }
                                                                           },
                                                                   "put":  {
                                                                               "tags":  [
                                                                                            "vending-machine-controller"
                                                                                        ],
                                                                               "operationId":  "updateHeatingPrice",
                                                                               "parameters":  [
                                                                                                  {
                                                                                                      "name":  "id",
                                                                                                      "in":  "path",
                                                                                                      "required":  true,
                                                                                                      "schema":  {
                                                                                                                     "type":  "integer",
                                                                                                                     "format":  "int64"
                                                                                                                 }
                                                                                                  }
                                                                                              ],
                                                                               "requestBody":  {
                                                                                                   "content":  {
                                                                                                                   "application/json":  {
                                                                                                                                            "schema":  {
                                                                                                                                                           "type":  "number",
                                                                                                                                                           "format":  "double"
                                                                                                                                                       }
                                                                                                                                        }
                                                                                                               },
                                                                                                   "required":  true
                                                                                               },
                                                                               "responses":  {
                                                                                                 "200":  {
                                                                                                             "description":  "OK",
                                                                                                             "content":  {
                                                                                                                             "*/*":  {
                                                                                                                                         "schema":  {
                                                                                                                                                        "type":  "string"
                                                                                                                                                    }
                                                                                                                                     }
                                                                                                                         }
                                                                                                         }
                                                                                             }
                                                                           }
                                                               },
                  "/api/spare-parts/update/{id}":  {
                                                       "put":  {
                                                                   "tags":  [
                                                                                "spare-part-controller"
                                                                            ],
                                                                   "operationId":  "updateSparePart",
                                                                   "parameters":  [
                                                                                      {
                                                                                          "name":  "id",
                                                                                          "in":  "path",
                                                                                          "required":  true,
                                                                                          "schema":  {
                                                                                                         "type":  "integer",
                                                                                                         "format":  "int64"
                                                                                                     }
                                                                                      },
                                                                                      {
                                                                                          "name":  "data",
                                                                                          "in":  "query",
                                                                                          "required":  true,
                                                                                          "schema":  {
                                                                                                         "type":  "string"
                                                                                                     }
                                                                                      }
                                                                                  ],
                                                                   "requestBody":  {
                                                                                       "content":  {
                                                                                                       "multipart/form-data":  {
                                                                                                                                   "schema":  {
                                                                                                                                                  "type":  "object",
                                                                                                                                                  "properties":  {
                                                                                                                                                                     "imageFile":  {
                                                                                                                                                                                       "type":  "string",
                                                                                                                                                                                       "format":  "binary"
                                                                                                                                                                                   }
                                                                                                                                                                 }
                                                                                                                                              }
                                                                                                                               }
                                                                                                   }
                                                                                   },
                                                                   "responses":  {
                                                                                     "200":  {
                                                                                                 "description":  "OK",
                                                                                                 "content":  {
                                                                                                                 "*/*":  {
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/components/schemas/ApiResponseSparePartRequest"
                                                                                                                                        }
                                                                                                                         }
                                                                                                             }
                                                                                             }
                                                                                 }
                                                               }
                                                   },
                  "/api/service-requests/{id}/status":  {
                                                            "put":  {
                                                                        "tags":  [
                                                                                     "service-request-controller"
                                                                                 ],
                                                                        "summary":  "Update service-request status",
                                                                        "description":  "Updates the status of a service request.",
                                                                        "operationId":  "updateServiceRequestStatus",
                                                                        "parameters":  [
                                                                                           {
                                                                                               "name":  "id",
                                                                                               "in":  "path",
                                                                                               "required":  true,
                                                                                               "schema":  {
                                                                                                              "type":  "integer",
                                                                                                              "format":  "int64"
                                                                                                          }
                                                                                           }
                                                                                       ],
                                                                        "requestBody":  {
                                                                                            "content":  {
                                                                                                            "application/json":  {
                                                                                                                                     "schema":  {
                                                                                                                                                    "type":  "object",
                                                                                                                                                    "additionalProperties":  {
                                                                                                                                                                                 "type":  "string"
                                                                                                                                                                             }
                                                                                                                                                }
                                                                                                                                 }
                                                                                                        },
                                                                                            "required":  true
                                                                                        },
                                                                        "responses":  {
                                                                                          "200":  {
                                                                                                      "description":  "OK",
                                                                                                      "content":  {
                                                                                                                      "*/*":  {
                                                                                                                                  "schema":  {
                                                                                                                                                 "$ref":  "#/components/schemas/ApiResponseVoid"
                                                                                                                                             }
                                                                                                                              }
                                                                                                                  }
                                                                                                  }
                                                                                      }
                                                                    }
                                                        },
                  "/api/service-requests/update":  {
                                                       "put":  {
                                                                   "tags":  [
                                                                                "service-request-controller"
                                                                            ],
                                                                   "summary":  "Update service-request visits",
                                                                   "description":  "Updates service-request visits and spare parts.",
                                                                   "operationId":  "updateServiceRequestVisits",
                                                                   "requestBody":  {
                                                                                       "content":  {
                                                                                                       "application/json":  {
                                                                                                                                "schema":  {
                                                                                                                                               "$ref":  "#/components/schemas/UpdateServiceRequest"
                                                                                                                                           }
                                                                                                                            }
                                                                                                   },
                                                                                       "required":  true
                                                                                   },
                                                                   "responses":  {
                                                                                     "200":  {
                                                                                                 "description":  "OK",
                                                                                                 "content":  {
                                                                                                                 "*/*":  {
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/components/schemas/ApiResponseServiceRequest"
                                                                                                                                        }
                                                                                                                         }
                                                                                                             }
                                                                                             }
                                                                                 }
                                                               }
                                                   },
                  "/api/notifications/read/{id}":  {
                                                       "put":  {
                                                                   "tags":  [
                                                                                "notification-controller"
                                                                            ],
                                                                   "operationId":  "markNotificationAsRead",
                                                                   "parameters":  [
                                                                                      {
                                                                                          "name":  "id",
                                                                                          "in":  "path",
                                                                                          "required":  true,
                                                                                          "schema":  {
                                                                                                         "type":  "integer",
                                                                                                         "format":  "int64"
                                                                                                     }
                                                                                      }
                                                                                  ],
                                                                   "responses":  {
                                                                                     "200":  {
                                                                                                 "description":  "OK",
                                                                                                 "content":  {
                                                                                                                 "*/*":  {
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/components/schemas/ApiResponseVoid"
                                                                                                                                        }
                                                                                                                         }
                                                                                                             }
                                                                                             }
                                                                                 }
                                                               }
                                                   },
                  "/api/notifications/read-all":  {
                                                      "put":  {
                                                                  "tags":  [
                                                                               "notification-controller"
                                                                           ],
                                                                  "operationId":  "markAllNotificationsAsRead",
                                                                  "responses":  {
                                                                                    "200":  {
                                                                                                "description":  "OK",
                                                                                                "content":  {
                                                                                                                "*/*":  {
                                                                                                                            "schema":  {
                                                                                                                                           "$ref":  "#/components/schemas/ApiResponseVoid"
                                                                                                                                       }
                                                                                                                        }
                                                                                                            }
                                                                                            }
                                                                                }
                                                              }
                                                  },
                  "/api/membership-cards/{memberId}/update-mpin":  {
                                                                       "put":  {
                                                                                   "tags":  [
                                                                                                "membership-card-controller"
                                                                                            ],
                                                                                   "operationId":  "updateMPIN",
                                                                                   "parameters":  [
                                                                                                      {
                                                                                                          "name":  "memberId",
                                                                                                          "in":  "path",
                                                                                                          "required":  true,
                                                                                                          "schema":  {
                                                                                                                         "type":  "integer",
                                                                                                                         "format":  "int64"
                                                                                                                     }
                                                                                                      }
                                                                                                  ],
                                                                                   "requestBody":  {
                                                                                                       "content":  {
                                                                                                                       "application/json":  {
                                                                                                                                                "schema":  {
                                                                                                                                                               "$ref":  "#/components/schemas/UpdateMpinRequest"
                                                                                                                                                           }
                                                                                                                                            }
                                                                                                                   },
                                                                                                       "required":  true
                                                                                                   },
                                                                                   "responses":  {
                                                                                                     "200":  {
                                                                                                                 "description":  "OK",
                                                                                                                 "content":  {
                                                                                                                                 "*/*":  {
                                                                                                                                             "schema":  {
                                                                                                                                                            "$ref":  "#/components/schemas/ApiResponseVoid"
                                                                                                                                                        }
                                                                                                                                         }
                                                                                                                             }
                                                                                                             }
                                                                                                 }
                                                                               }
                                                                   },
                  "/api/membership-cards/{id}":  {
                                                     "put":  {
                                                                 "tags":  [
                                                                              "membership-card-controller"
                                                                          ],
                                                                 "operationId":  "update",
                                                                 "parameters":  [
                                                                                    {
                                                                                        "name":  "id",
                                                                                        "in":  "path",
                                                                                        "required":  true,
                                                                                        "schema":  {
                                                                                                       "type":  "integer",
                                                                                                       "format":  "int64"
                                                                                                   }
                                                                                    }
                                                                                ],
                                                                 "requestBody":  {
                                                                                     "content":  {
                                                                                                     "application/json":  {
                                                                                                                              "schema":  {
                                                                                                                                             "$ref":  "#/components/schemas/MembershipCardDTO"
                                                                                                                                         }
                                                                                                                          }
                                                                                                 },
                                                                                     "required":  true
                                                                                 },
                                                                 "responses":  {
                                                                                   "200":  {
                                                                                               "description":  "OK",
                                                                                               "content":  {
                                                                                                               "*/*":  {
                                                                                                                           "schema":  {
                                                                                                                                          "$ref":  "#/components/schemas/ApiResponseMembershipCard"
                                                                                                                                      }
                                                                                                                       }
                                                                                                           }
                                                                                           }
                                                                               }
                                                             },
                                                     "delete":  {
                                                                    "tags":  [
                                                                                 "membership-card-controller"
                                                                             ],
                                                                    "operationId":  "delete",
                                                                    "parameters":  [
                                                                                       {
                                                                                           "name":  "id",
                                                                                           "in":  "path",
                                                                                           "required":  true,
                                                                                           "schema":  {
                                                                                                          "type":  "integer",
                                                                                                          "format":  "int64"
                                                                                                      }
                                                                                       }
                                                                                   ],
                                                                    "responses":  {
                                                                                      "200":  {
                                                                                                  "description":  "OK",
                                                                                                  "content":  {
                                                                                                                  "*/*":  {
                                                                                                                              "schema":  {
                                                                                                                                             "$ref":  "#/components/schemas/ApiResponseVoid"
                                                                                                                                         }
                                                                                                                          }
                                                                                                              }
                                                                                              }
                                                                                  }
                                                                }
                                                 },
                  "/api/membership-cards/{id}/basic-details":  {
                                                                   "put":  {
                                                                               "tags":  [
                                                                                            "membership-card-controller"
                                                                                        ],
                                                                               "operationId":  "updateBasicDetails",
                                                                               "parameters":  [
                                                                                                  {
                                                                                                      "name":  "id",
                                                                                                      "in":  "path",
                                                                                                      "required":  true,
                                                                                                      "schema":  {
                                                                                                                     "type":  "integer",
                                                                                                                     "format":  "int64"
                                                                                                                 }
                                                                                                  }
                                                                                              ],
                                                                               "requestBody":  {
                                                                                                   "content":  {
                                                                                                                   "application/json":  {
                                                                                                                                            "schema":  {
                                                                                                                                                           "$ref":  "#/components/schemas/MembershipCardDTO"
                                                                                                                                                       }
                                                                                                                                        }
                                                                                                               },
                                                                                                   "required":  true
                                                                                               },
                                                                               "responses":  {
                                                                                                 "200":  {
                                                                                                             "description":  "OK",
                                                                                                             "content":  {
                                                                                                                             "*/*":  {
                                                                                                                                         "schema":  {
                                                                                                                                                        "$ref":  "#/components/schemas/ApiResponseMembershipCard"
                                                                                                                                                    }
                                                                                                                                     }
                                                                                                                         }
                                                                                                         }
                                                                                             }
                                                                           }
                                                               },
                  "/api/inventory/products/{id}":  {
                                                       "get":  {
                                                                   "tags":  [
                                                                                "inventory-controller"
                                                                            ],
                                                                   "summary":  "Get product by ID",
                                                                   "description":  "Fetches a product belonging to the current franchise.",
                                                                   "operationId":  "getProduct",
                                                                   "parameters":  [
                                                                                      {
                                                                                          "name":  "id",
                                                                                          "in":  "path",
                                                                                          "required":  true,
                                                                                          "schema":  {
                                                                                                         "type":  "integer",
                                                                                                         "format":  "int64"
                                                                                                     }
                                                                                      }
                                                                                  ],
                                                                   "responses":  {
                                                                                     "200":  {
                                                                                                 "description":  "OK",
                                                                                                 "content":  {
                                                                                                                 "*/*":  {
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/components/schemas/ApiResponseProductDTO"
                                                                                                                                        }
                                                                                                                         }
                                                                                                             }
                                                                                             }
                                                                                 }
                                                               },
                                                       "put":  {
                                                                   "tags":  [
                                                                                "inventory-controller"
                                                                            ],
                                                                   "summary":  "Update product by ID",
                                                                   "description":  "Updates a product belonging to the current franchise.",
                                                                   "operationId":  "updateProduct",
                                                                   "parameters":  [
                                                                                      {
                                                                                          "name":  "id",
                                                                                          "in":  "path",
                                                                                          "required":  true,
                                                                                          "schema":  {
                                                                                                         "type":  "integer",
                                                                                                         "format":  "int64"
                                                                                                     }
                                                                                      },
                                                                                      {
                                                                                          "name":  "json",
                                                                                          "in":  "query",
                                                                                          "required":  true,
                                                                                          "schema":  {
                                                                                                         "type":  "string"
                                                                                                     }
                                                                                      }
                                                                                  ],
                                                                   "requestBody":  {
                                                                                       "content":  {
                                                                                                       "multipart/form-data":  {
                                                                                                                                   "schema":  {
                                                                                                                                                  "type":  "object",
                                                                                                                                                  "properties":  {
                                                                                                                                                                     "file":  {
                                                                                                                                                                                  "type":  "string",
                                                                                                                                                                                  "format":  "binary"
                                                                                                                                                                              }
                                                                                                                                                                 }
                                                                                                                                              }
                                                                                                                               }
                                                                                                   }
                                                                                   },
                                                                   "responses":  {
                                                                                     "200":  {
                                                                                                 "description":  "OK",
                                                                                                 "content":  {
                                                                                                                 "*/*":  {
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/components/schemas/ApiResponseProductDTO"
                                                                                                                                        }
                                                                                                                         }
                                                                                                             }
                                                                                             }
                                                                                 }
                                                               },
                                                       "delete":  {
                                                                      "tags":  [
                                                                                   "inventory-controller"
                                                                               ],
                                                                      "summary":  "Delete product by ID",
                                                                      "description":  "Deletes a product only when it is not assigned to an aisle.",
                                                                      "operationId":  "deleteProduct",
                                                                      "parameters":  [
                                                                                         {
                                                                                             "name":  "id",
                                                                                             "in":  "path",
                                                                                             "required":  true,
                                                                                             "schema":  {
                                                                                                            "type":  "integer",
                                                                                                            "format":  "int64"
                                                                                                        }
                                                                                         }
                                                                                     ],
                                                                      "responses":  {
                                                                                        "200":  {
                                                                                                    "description":  "OK",
                                                                                                    "content":  {
                                                                                                                    "*/*":  {
                                                                                                                                "schema":  {
                                                                                                                                               "$ref":  "#/components/schemas/ApiResponseVoid"
                                                                                                                                           }
                                                                                                                            }
                                                                                                                }
                                                                                                }
                                                                                    }
                                                                  }
                                                   },
                  "/api/franchises/{id}":  {
                                               "get":  {
                                                           "tags":  [
                                                                        "franchise-controller"
                                                                    ],
                                                           "summary":  "Get Franchise by ID",
                                                           "description":  "Fetches details of a specific franchise.",
                                                           "operationId":  "getFranchiseById",
                                                           "parameters":  [
                                                                              {
                                                                                  "name":  "id",
                                                                                  "in":  "path",
                                                                                  "required":  true,
                                                                                  "schema":  {
                                                                                                 "type":  "integer",
                                                                                                 "format":  "int64"
                                                                                             }
                                                                              }
                                                                          ],
                                                           "responses":  {
                                                                             "200":  {
                                                                                         "description":  "OK",
                                                                                         "content":  {
                                                                                                         "*/*":  {
                                                                                                                     "schema":  {
                                                                                                                                    "$ref":  "#/components/schemas/ApiResponseFranchiseDTO"
                                                                                                                                }
                                                                                                                 }
                                                                                                     }
                                                                                     }
                                                                         }
                                                       },
                                               "put":  {
                                                           "tags":  [
                                                                        "franchise-controller"
                                                                    ],
                                                           "summary":  "Update Franchise",
                                                           "description":  "Updates an existing franchise.",
                                                           "operationId":  "updateFranchise",
                                                           "parameters":  [
                                                                              {
                                                                                  "name":  "id",
                                                                                  "in":  "path",
                                                                                  "required":  true,
                                                                                  "schema":  {
                                                                                                 "type":  "integer",
                                                                                                 "format":  "int64"
                                                                                             }
                                                                              },
                                                                              {
                                                                                  "name":  "franchise",
                                                                                  "in":  "query",
                                                                                  "required":  true,
                                                                                  "schema":  {
                                                                                                 "type":  "string"
                                                                                             }
                                                                              }
                                                                          ],
                                                           "requestBody":  {
                                                                               "content":  {
                                                                                               "multipart/form-data":  {
                                                                                                                           "schema":  {
                                                                                                                                          "type":  "object",
                                                                                                                                          "properties":  {
                                                                                                                                                             "logo":  {
                                                                                                                                                                          "type":  "string",
                                                                                                                                                                          "format":  "binary"
                                                                                                                                                                      },
                                                                                                                                                             "contract":  {
                                                                                                                                                                              "type":  "string",
                                                                                                                                                                              "format":  "binary"
                                                                                                                                                                          },
                                                                                                                                                             "terms":  {
                                                                                                                                                                           "type":  "string",
                                                                                                                                                                           "format":  "binary"
                                                                                                                                                                       },
                                                                                                                                                             "invoice":  {
                                                                                                                                                                             "type":  "string",
                                                                                                                                                                             "format":  "binary"
                                                                                                                                                                         }
                                                                                                                                                         }
                                                                                                                                      }
                                                                                                                       }
                                                                                           }
                                                                           },
                                                           "responses":  {
                                                                             "200":  {
                                                                                         "description":  "OK",
                                                                                         "content":  {
                                                                                                         "*/*":  {
                                                                                                                     "schema":  {
                                                                                                                                    "$ref":  "#/components/schemas/ApiResponseFranchiseDTO"
                                                                                                                                }
                                                                                                                 }
                                                                                                     }
                                                                                     }
                                                                         }
                                                       },
                                               "delete":  {
                                                              "tags":  [
                                                                           "franchise-controller"
                                                                       ],
                                                              "summary":  "Delete Franchise",
                                                              "description":  "Deletes a franchise by ID.",
                                                              "operationId":  "deleteFranchise",
                                                              "parameters":  [
                                                                                 {
                                                                                     "name":  "id",
                                                                                     "in":  "path",
                                                                                     "required":  true,
                                                                                     "schema":  {
                                                                                                    "type":  "integer",
                                                                                                    "format":  "int64"
                                                                                                }
                                                                                 }
                                                                             ],
                                                              "responses":  {
                                                                                "200":  {
                                                                                            "description":  "OK",
                                                                                            "content":  {
                                                                                                            "*/*":  {
                                                                                                                        "schema":  {
                                                                                                                                       "$ref":  "#/components/schemas/ApiResponseVoid"
                                                                                                                                   }
                                                                                                                    }
                                                                                                        }
                                                                                        }
                                                                            }
                                                          }
                                           },
                  "/api/franchises/update/{id}":  {
                                                      "put":  {
                                                                  "tags":  [
                                                                               "franchise-controller"
                                                                           ],
                                                                  "summary":  "Update Franchise Details",
                                                                  "description":  "Updates basic franchise details. Administrators may update only their assigned franchise.",
                                                                  "operationId":  "updateFranchiseDetails",
                                                                  "parameters":  [
                                                                                     {
                                                                                         "name":  "id",
                                                                                         "in":  "path",
                                                                                         "required":  true,
                                                                                         "schema":  {
                                                                                                        "type":  "integer",
                                                                                                        "format":  "int64"
                                                                                                    }
                                                                                     }
                                                                                 ],
                                                                  "requestBody":  {
                                                                                      "content":  {
                                                                                                      "application/json":  {
                                                                                                                               "schema":  {
                                                                                                                                              "$ref":  "#/components/schemas/FranchiseDTO"
                                                                                                                                          }
                                                                                                                           }
                                                                                                  },
                                                                                      "required":  true
                                                                                  },
                                                                  "responses":  {
                                                                                    "200":  {
                                                                                                "description":  "OK",
                                                                                                "content":  {
                                                                                                                "*/*":  {
                                                                                                                            "schema":  {
                                                                                                                                           "$ref":  "#/components/schemas/ApiResponseFranchiseDTO"
                                                                                                                                       }
                                                                                                                        }
                                                                                                            }
                                                                                            }
                                                                                }
                                                              }
                                                  },
                  "/api/coupons/{couponId}":  {
                                                  "put":  {
                                                              "tags":  [
                                                                           "coupon-controller"
                                                                       ],
                                                              "operationId":  "updateCoupon",
                                                              "parameters":  [
                                                                                 {
                                                                                     "name":  "couponId",
                                                                                     "in":  "path",
                                                                                     "required":  true,
                                                                                     "schema":  {
                                                                                                    "type":  "integer",
                                                                                                    "format":  "int64"
                                                                                                }
                                                                                 }
                                                                             ],
                                                              "requestBody":  {
                                                                                  "content":  {
                                                                                                  "application/json":  {
                                                                                                                           "schema":  {
                                                                                                                                          "$ref":  "#/components/schemas/CouponDTO"
                                                                                                                                      }
                                                                                                                       }
                                                                                              },
                                                                                  "required":  true
                                                                              },
                                                              "responses":  {
                                                                                "200":  {
                                                                                            "description":  "OK",
                                                                                            "content":  {
                                                                                                            "*/*":  {
                                                                                                                        "schema":  {
                                                                                                                                       "$ref":  "#/components/schemas/ApiResponseCouponDTO"
                                                                                                                                   }
                                                                                                                    }
                                                                                                        }
                                                                                        }
                                                                            }
                                                          },
                                                  "delete":  {
                                                                 "tags":  [
                                                                              "coupon-controller"
                                                                          ],
                                                                 "operationId":  "deleteCoupon",
                                                                 "parameters":  [
                                                                                    {
                                                                                        "name":  "couponId",
                                                                                        "in":  "path",
                                                                                        "required":  true,
                                                                                        "schema":  {
                                                                                                       "type":  "integer",
                                                                                                       "format":  "int64"
                                                                                                   }
                                                                                    }
                                                                                ],
                                                                 "responses":  {
                                                                                   "200":  {
                                                                                               "description":  "OK",
                                                                                               "content":  {
                                                                                                               "*/*":  {
                                                                                                                           "schema":  {
                                                                                                                                          "$ref":  "#/components/schemas/ApiResponseVoid"
                                                                                                                                      }
                                                                                                                       }
                                                                                                           }
                                                                                           }
                                                                               }
                                                             }
                                              },
                  "/api/categories/update-name":  {
                                                      "put":  {
                                                                  "tags":  [
                                                                               "category-controller"
                                                                           ],
                                                                  "operationId":  "updateCategoryName",
                                                                  "parameters":  [
                                                                                     {
                                                                                         "name":  "categoryId",
                                                                                         "in":  "query",
                                                                                         "required":  true,
                                                                                         "schema":  {
                                                                                                        "type":  "integer",
                                                                                                        "format":  "int64"
                                                                                                    }
                                                                                     }
                                                                                 ],
                                                                  "requestBody":  {
                                                                                      "content":  {
                                                                                                      "application/json":  {
                                                                                                                               "schema":  {
                                                                                                                                              "type":  "object",
                                                                                                                                              "additionalProperties":  {
                                                                                                                                                                           "type":  "string"
                                                                                                                                                                       }
                                                                                                                                          }
                                                                                                                           }
                                                                                                  },
                                                                                      "required":  true
                                                                                  },
                                                                  "responses":  {
                                                                                    "200":  {
                                                                                                "description":  "OK",
                                                                                                "content":  {
                                                                                                                "*/*":  {
                                                                                                                            "schema":  {
                                                                                                                                           "$ref":  "#/components/schemas/ApiResponseCategory"
                                                                                                                                       }
                                                                                                                        }
                                                                                                            }
                                                                                            }
                                                                                }
                                                              }
                                                  },
                  "/api/cart/update-quantity/{itemId}":  {
                                                             "put":  {
                                                                         "tags":  [
                                                                                      "cart-controller"
                                                                                  ],
                                                                         "operationId":  "updateQuantity",
                                                                         "parameters":  [
                                                                                            {
                                                                                                "name":  "itemId",
                                                                                                "in":  "path",
                                                                                                "required":  true,
                                                                                                "schema":  {
                                                                                                               "type":  "integer",
                                                                                                               "format":  "int64"
                                                                                                           }
                                                                                            },
                                                                                            {
                                                                                                "name":  "quantity",
                                                                                                "in":  "query",
                                                                                                "required":  true,
                                                                                                "schema":  {
                                                                                                               "type":  "integer",
                                                                                                               "format":  "int32"
[...]
